src/dtd/contacts.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT repertoire (enseignant)*>

<!ELEMENT enseignant (nom,prenom?,prenom?,prenom?,lieu?,mail?,site_web?)>

<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT lieu (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
<!ELEMENT site_web (#PCDATA)>

<!ATTLIST enseignant
	id ID #REQUIRED
	>